body {
	touch-action: manipulation;
	overflow-x: hidden;
    width: 100%;
}

#page-container {
	overflow-x: hidden;
}

a {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	-webkit-tap-highlight-color: transparent;
}

#main-header {
	padding-top: 20px;
}

.et_header_style_left .logo_container {
	height: 57%;
}

.logo_container {
	text-align: center;
	top: 25%;
}
.logo_container a img {
	position: relative;
}

.et_pb_text_inner p a, .et_pb_text_inner a {
	color: inherit;
}

#et-main-area #main-content {
	background-color: #f3f2ef;
}

.products {
	background-color: #f3f2ef;
}

#main-footer {
	display: none;
}
/* 2nd navi */
.woocommerce .woocommerce-breadcrumb {
	display: none;
}

#main-header{
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
}

.et_fixed_nav #main-header, .et_fixed_nav #top-header {
	position: absolute;
}

#et_search_icon:before {
	font-size: 14px;
}

#et_top_search {
	margin-right: 10px;
}

.wpmenucart-icon-shopping-cart-0:before {
	font-size: 16px;
}

/*hamburger float*/
#top-menu-nav {
	float: right !important;	
}
/* cart */
.et-cart-info {
	font-size: 18px;
	float: right !important;
	margin-right: 10px !important;
}

.et_button_no_icon.woocommerce-page a.button {
	padding-left: 0;
}

/* Summary */
.woocommerce .product .summary {
    margin-top: 3%;
	padding-left: 2%;
}

/* Table Size*/
.woocommerce div.product form.cart .variations {
	max-width: 280px;
	margin: 30px 0 0 25px;
}

.woocommerce #content div.product form.cart {
	margin: 10px 0 0px;
}

tr {
	vertical-align: top !important;
}

/* read more trigger */

.specs_toggle_wrapper {
	margin-bottom: 10px;
}

#specs_wrap  {
    margin-top: 0;  
    width: auto; 
	height: auto;
}

#specs_wrap_toggle  {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 35px;
    color: black;
    text-decoration:none;
	font-size: 11px;
	font-family: 'Raleway';
}

/* 2nd specs */

.author_bio_toggle_wrapper2 {
        
}

#author_bio_wrap2  {
    margin-top: 0;  
    margin-bottom: 10%;
    width: auto; height: 50px;
}

#author_bio_wrap_toggle2  {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: black;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration:none;
}

/* before form -- choose */

.variations::before {
	font-family: 'Raleway';
	content: 'MAKE IT YOUR OWN.';
	font-size: 12px;
	white-space: pre-wrap;
}

.onsale {
	display: none;
}

.reset_variations {
	display: none !important;
}

/* product pages edit */

.woocommerce-tabs, .wc-tabs-wrapper {
	display: none;
}

.price {
	font-family: 'Raleway';
	font-size: 0.8em !important;
	text-align: center;
	line-height: 2em;
	padding-bottom: 5px;
	font-weight: 600;
	margin-bottom: -5px;
}

.retailPrice {
	font-family: 'Raleway';
	font-size: 11px;
	margin-bottom: 10px;
}

/* button add to cart product*/
.single_variation_wrap {
	top: 294px;
	position: relative;
}

.variations_button {
	position: relative;
	margin-left: -3px;
	font-size: 12px;
}

/* overlay product gallery*/
.et_overlay {
	display: none !important;
}

/* add to cart button */

.woocommerce-page button.button, .woocommerce-page button.button.alt {
	color: #fff;
	text-transform: uppercase;
	background-color: #000;
	font-size: 0.9em;
	text-transform: uppercase;
	font-family: 'Raleway';
}

.woocommerce-page button.button {
	font-size: 13px;
	border-radius: 0;
	font-family: 'Raleway';
}

/* select option*/

#termName {
	font-size: 10px;
	padding-top:4px;
}

.pa_fabric {
	overflow-y: scroll;
	height: 86px;
	max-height: 300px;
	margin-right: -20px;
}

.pa_wood {
	max-height: 400px;
}

.alg-wc-civs-term {
	width: 50px;
	opacity: 0.8;
	line-height: 32px;
}

.alg-wc-civs-term::after {
	display: block;
	content: '\A';
	white-space: pre; 
}

.alg-wc-civs-term:not(.disabled).active {
    box-shadow: none;	
}
.varLabel {
	display: none;
	position: relative;
}

/*** hides sub-menu on hover ***/
#top-menu li.et-hover ul.sub-menu { display: none !important; }
 
/*** shows submenu on click ***/
#top-menu li.show-submenu ul.sub-menu { display: block !important; visibility: visible!important; opacity: 1!important; }
 
/*** Hide hamburger menu item on mobile ***/

 
#top-menu .mega-menu > a, #et-secondary-nav .mega-menu > a {margin-bottom: 16px;}
 
/**** hide down arrow ****/
#top-menu .mega-menu > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after {display: none;}
 
/*** show hamburger icon ***/
.hamburger:before  {
    font-family: "ETmodules" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 0.6em;
    text-transform: none;
    speak: none;
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
    vertical-align: -11px;
    padding-right: 3px;
	display: block !important;
    font-size: 32px; /*change size of icon here*/
    content: "\61"; /*change icon here*/
    color: #333; /*change color of icon here*/
}
/*** displays the "x" close icon ***/
.show-submenu .hamburger:before {
    content: "\4d"; /*change x icon here*/
}

#top-menu .menu-item-has-children>a:first-child {
	padding-right: 0 !important;
}

.et_header_style_left #et-top-navigation nav>ul>li>a {
	padding-bottom: 24px;
}
/* Menu attribute */

#menu-item-42 {
	padding-left: 10px;
}

#top-menu li.mega-menu>ul {
	right: 2.8%;
	top: 75%;
	display: inline-block;
	width: 20%;
	text-transform: uppercase;
	border-top: none;
	padding: 30px 20px 20px 20px;
}

#top-menu li.mega-menu>ul>li, #top-menu li.mega-menu>ul>li>a {
	width: 100%;
	border: none;
}

#top-menu li.mega-menu>ul>li>a:first-child {
	border-bottom: none;
}


.woocommerce-loop-product__title {
	text-align: center;
	font-family: 'Raleway';
	font-weight: 500;
	color: #5f5f5f;
}
.woocommerce-loop-product__title:hover {
	color: black;
}

/* Filter */
.woof_list li{
 display:inline;
 font-size:18px;
 letter-spacing:3px;
 font-weight:600;
 text-transform:uppercase;
}
button.button.woof_reset_search_form{
    display: table;
    margin-right: auto;
    margin-left: auto;
    float: none !important;
    padding: 0 20px;
    border-radius: 0;
 	border:none;
    color: #7d7d7d;
}
button.button.woof_reset_search_form:hover { 
	padding: 0 30px;
	font-size:20px;
    border-radius: 0;
	color: #7d7d7d;
	background:rgba(0,0,0,0);
}
input[type=radio],.woocommerce-ordering,.woocommerce-result-count,.woocommerce-breadcrumb,.woocommerce-products-header__title,.woof_radio_term_reset,.woof_radio_count,.woof_remove_ppi,.woof_term_19 {
 display:none !important;
}
ul.woof_list {
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;
}
.woof_radio_label_selected {
    border-bottom: 4px solid #a2a2a2;
}
.woof_info_popup{
	border-radius:0px;
	background-color: #fff;
	font-family:Kiona;
	color:#000 !important;
}

.woof_sid_auto_shortcode {
	border: none;
}

@media (min-width: 981px) {
#main-content .container:before {
    width: 0px;
	}
}
.et_right_sidebar #left-area {
    float: inherit;
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
	margin: auto;
	max-width: 300px;
}

/*archive shop*/
.et_pb_gutters3.et_right_sidebar.woocommerce-page ul.products li.product {
	margin-right: 0;
	width: 23.353%;
}

.woocommerce ul.products {
	margin: 0;
}

.archive #page-container #et-main-area .footer-global .et_pb_row .s-gitl .et_pb_module .et_pb_contact .et_pb_contact_form .et_pb_contact_field .input {
	width: 80%;
}

/*main shop*/
.woocommerce-js ul.columns-3 {
	padding-left: 0;
}

/* refine sub-menu */
.product-categories {
	position: absolute;
	display: none;
	z-index: 999;
	background: #fffdf8; /* ; #add*/
	left: 11%;
	width: 86%;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-size: 0.9em;
	letter-spacing: -0.05px;
}

/* widget list categories */
.et_pb_widget ul li {
	margin-bottom: 0;
}

/* mega menu shop page */
.et_pb_module #woocommerce_product_categories2-3 .product-categories {
	top: 40% !important;
}

/* refine border right */
.et_pb_widget_area_left {
    border-right: none;
}

/* shop images z-index*/
.et_pb_column {
	position: static !important;
	z-index: -9;
}

/* product category*/
.columns-3 {
	position: static;
	z-index: -9;
}

/* archive term */
.term-description {
	display: none;
}

/* sidebar size*/
#sidebar {
	width: 97%;
}

#sidebar .et_pb_widget {
	display: flex;
	justify-content: flex-end;
}

/* refine title -- shop */
#woocommerce_product_categories2-3 {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#woocommerce_product_categories2-3 .product-categories {
	top: 65% !important;
}

/* category names*/
.cat-parent {
	font-weight: bold;
}

.children {
	font-weight: normal;
}

/* contact field */
.et_pb_contact .et_pb_contact_field_half {
	width: 100%;
}

.et-db #et-boc .et_pb_contact .et_pb_contact_field_half {
	width: 65%;
}

.et_pb_contact_form_0.et_pb_contact_form_container .input {
	padding: 0 0 4px 0;
	width: 120%;
}


/* submit button */
.et_pb_contact_submit {

}

.et_contact_bottom_container {
	visibility: visible;
	left: 10%;
}

.et_pb_contact_submit {
	right: 280%;
}

.et-pb-contact-message {
	font-family: 'Raleway';
	padding-top: 10px;
	font-size: 12px;
}

/* social media icon colors*/
.et_pb_social_media_follow li a.icon::before {
	color: #333;
}

/* Sub-menu category items */
.cat-item {
	width: 100%;
}

.cat-parent {
	padding: 5% 0 5% 5%;
}

/* cat item flushed left */
.et_pb_widget ul li ul li {
	margin-left: 0;
}

.et_pb_widget {
	margin-bottom: 1.5% !important;
}
/* refine class */
.widgettitle {
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 0.95em;
}

.widgettitle::before {
	font-family: 'FontAwesome';
	content: '\f107 \00a0 \00a0 \00a0';
}

.et_pb_gutters3 .et_pb_column {
	margin-right: 0;
}

.woocommerce ul.products li.product {
	margin: 0 1% 1% 1.3%;
}

.et_pb_button_module_wrapper .et_pb_button_0_wrapper .et_pb_button_alignment_center .et_pb_module {
	padding-left: 33%;
}

.s-company, .s-products, .s-cc, .s-social {
	width: 15%;
}

.et_pb_gutters3 .et_pb_column_1_5 .et_pb_module {
	margin-bottom: 0;
}


.s-gitl {
	width: 29.6% !important;
}
/* category */
.woocommerce ul.products li.product a {
	color: #5f5f5f !important;
	display: block;
	text-align: center;
	font-family: 'Acaslon', Palatino;
	font-style: italic;
	line-height: 0.8;
	font-size: 0.8em;
}

/* title height */
.woocommerce-loop-product__title {
	padding-top: 12px !important;
	font-style: normal;
	font-size: 1em;
}

.products-shop {
	padding-left: 1.5% !important;
}

/* archive product page*/
.archive #page-container #et-main-area ul.products {
	padding-left: 17%;
	width: 108%;
}

/*sidebar shop page*/
.et_pb_section_0 {
	padding: 2% 1% 0 0;
}

/* email form */
.et_pb_contact_email_1::after {
	font-family: 'Fontawesome';
	content: "\f054";
}

.et_pb_contact {
	border-bottom-width: 1px;
}

/*padding for shop section */
.et_pb_section_1 {
	padding: 0;
}

/* back to top */
#myBtn {	
	color: #000000!important;
    border-width: 0 !important;
    border-radius: 0;
    font-size: 10px;
    background-color: #f3f2ef;
	text-align: center;
	cursor: pointer;
}

/* single product content */
h1.product_title {
	font-family: 'Raleway';
	font-size: 17px;
	font-weight: 300;
}

.woocommerce-product-details__short-description {
	width: 72%;
}

.woocommerce-product-details__short-description p {
	font-family: 'Acaslon', Palatino;
	font-size: 15px;
	line-height: 1.8;
}

.semiDesc {
	font-family: 'Acaslon', Palatino;
	font-size: 1.2em;
	line-height: 2.5em;
}

.desc {
	position: relative; 
	width: 250px; 
	height: auto; 
	margin-left: 2px; 
	padding: 15px 5px;
}

.variations {
	margin-top: 40px;
	font-family: 'Raleway';
	font-size: 10px;
}

.varTitle {
	font-size: 12px;
	font-family: 'Raleway';
}

.varSub {
	font-family: 'Acaslon';
	font-size: 12px;
	font-style: italic;
}

.varDescription {
	font-family: 'Acaslon';
	font-size: 12px;
	line-height: 1.6;
}

.varDescriptiontwo {
	font-family: 'Raleway';
	font-size: 10px;
}

.woocommerce div.product form.cart .variations td {
	padding: 6px 0 0 0 !important;
}

.woocommerce div.product form.cart .variations label {
	font-weight: 400;
}

.woocommerce ul.products li.product .price {
	padding-top: 3px;
}

.woocommerce-variation-add-to-cart p.price span {
	color: #000;
	font-size: 18px !important;
}

#left-area ul {
	list-style-type: none;
}
/* meta */
.product_meta {
	border: none;
	padding-top:0;
}

.asLowAs {
	font-family: 'Raleway';
	font-weight: 500;
	line-height: 2;
}

.ordersShip {
	line-height: 3;
}

.deliveryPlans {
	font-family: 'Acaslon', Palatino;
}

.seeTerms {
	line-height:3;
	font-size: 0.9em;
	font-family: 'Raleway';
}

/*product title*/
.entry-summary .entry-title {
	padding-bottom: 6px !important;
}

.orderSwatch {
	font-family: 'Raleway';
	font-size: 11px;
}

.specsList {
	padding-top: 2% !important;
	font-size: 11px;
	line-height: 2 !important;
}

.et-db #et-boc .et_pb_contact p input {
	padding: 4px;
}

/* collection images */
.collectionImages .et_pb_image_wrap img {
	left: 17%;
}

#top-menu li.show-submenu ul.sub-menu {
	font-family: 'Acaslon', Palatino;
}

.woocommerce-product-gallery__trigger {
	top: auto !important;
	left: 2%;
	bottom: 23.5%;
}

/* FAQ page */
/* toggle drop down */
.et_pb_toggle h5::before {
	position: inherit;
	font-family: 'FontAwesome' !important;
	content: '\f107 \00a0 \00a0';
	color: #777; 
}

.related {
	display: none !important;
}

.et_pb_contact_field_4.et_pb_contact_field .input {
	padding: 8px 0 0 4px;
}

/* indent */
.et_pb_contact p input, .et_pb_contact_field_4.et_pb_contact_field .input {
	text-indent: 15px;
}

/*contact form*/
.contact-info {
	padding: 6px !important;
	width: 103%;
	border: 0 !important;
	margin-bottom: 0.5em !important;
	background-color: #e5cfc5 !important;
	text-indent: 1.5em;
	font-size: 0.6em;
	font-family: 'Raleway';
}

.contact-comments {
	width: 103%;
	border: 0 !important;
	margin-bottom: 0.5em !important;
	background-color: #e5cfc5 !important;
	font-family: 'Raleway';
	text-indent: 0 !important;
	font-size: 0.6em;
	padding-left: 16px;
}

/* contact button*/
.contact-submit {
	font-family: 'Raleway';
	color: #6b6b6b;
	font-size: 10px;
	border: 0 !important;
	float: right;
	background-color: #dbc5bd;
}

/* swatch-info */
.swatch-info {
	padding: 6px !important;
	width: 100%;
	border: 0 !important;
	margin-bottom: 0.5em !important;
	background-color: white !important;
	text-indent: 1.5em;
	font-size: 0.6em;
	font-family: 'Raleway';
}

.swatch-state {
	width: 49%;
}

.swatch-zipcode {
	margin-top: 3px;
	float: right;
	width: 50%;
	padding: 6px;
}

.swatch-button {
	clear: both;
	text-align: right;
}
.swatch-submit {
	color: #6b6b6b;
	font-family:'Raleway';
	font-size: 10px;
	background-color: #f3f2ef;	
	padding-bottom: 10px;
	border: 0;
}

.productBackButton {
	margin-bottom: 3%;
	cursor: pointer;
}

#fabriccc, #wooddd, #metalll {
	cursor: pointer;
	font-size: 11px;
}

#et_pb_contact_footer-email_1 {
	text-indent: 0px !important;
}

/* single product thumbnails*/
.woocommerce div.product div.images .flex-control-thumbs {
	margin-top: 1%;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	width: 24%;
	margin-right: 0.5%;
	margin-left: 0.5%;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
	height: 100%;
}
/* social footer links*/
.et-db #et-boc .et_pb_social_media_follow li a.icon:hover::before {
	color: #33342a;
}

.s-products .et_pb_module {
	margin-bottom: 0 !important;
}

.raleSemiBold {
	font-weight: 800;
}

/* social share */
.socialShare {
	font-family: 'Raleway';
}

.woocommerce-form-coupon-toggle {
	display: none;
}

/* cart page */

.woocommerce-cart table.cart td.actions .coupon .input-text {
	color: #33342a;
	background-color: white !important;
	width: 128px;
	font-family: 'Raleway';
	text-transform: uppercase;
	height: 32px;
	font-size: 14px !important;
}

.woocommerce button.button:disabled {
	text-transform: uppercase !important;
	font-size: 14px;
	border: 1px solid;
	border-radius: 0;
	clear: both;
	float: right;
	margin-top: 10px;
}

.woocommerce .quantity input.qty {
	color: #33342a !important;
	background-color: #f3f2ef !important;
	font-size: 18px !important;
}


.checkout-button {
	width: 45%;
	float: right;
	font-size: 16px !important;
	border: 1px solid !important;
}

.et_button_no_icon.woocommerce-page button.button:hover{
	background: #000 !important;
	color: #fff !important;
	border: 0;
}

.cart_totals h2 {
	font-size: 16px
}

.woocommerce table.shop_table {
	border-radius: 0;
}

.woocommerce a.button, .woocommerce-page a.button {
	border-radius: 0 !important;
}

.coupon {
	float: right !important;
}

.cart-subtotal td span.woocommerce-Price-amount, .order-total td span.woocommerce-Price-amount {
	display: flex;
	justify-content: flex-end;
	padding-right: 18%;
}

.woocommerce-checkout #main-content .cart-subtotal td {
	border-top: 1px solid #ccc;
}

/* checkout page */
#post-8, #post-9 {
	font-family: 'Raleway';
	text-transform: uppercase;
	margin-top: 10%;
}

.post-8 h1, .post-9 h1 {
	font-size: 20px;
}

.post-9 h3 {
	font-size: 16px;	
}

.woocommerce form .form-row {
	margin: 0;
}

.woocommerce-privacy-policy-text {
	text-transform: initial;
	font-size: 12px;
}

.woocommerce-billing-fields__field-wrapper {
	font-size: 11px;
}

#order_comments_field {
	margin-top: -5px;
}

#order_comments {
	height: 150px;
}

#order_review_heading {
	margin-top: 4%;	
}

#place_order {
	margin-top: 2%;
	color: #ccc;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 200;
	border: 1px solid;
	border-radius: 0;
}

.woocommerce form .form-row input.input-text {
	padding: 6px;
}

input[type=text], input[type=tel], input[type=email], textarea, .select2-container--default .select2-selection--single  {
	border: 0;
}

th.product-total {
	display: flex;
	justify-content: flex-end;
	padding-right: 23% !important;
}

td.product-total {
	display: flex;
	justify-content: flex-end;
	padding-right: 20% !important;
}

.woocommerce-message {
	border: 1px solid #33342a !important;
	color: #33342a !important;
	text-transform: uppercase;
	background: #f3f2ef !important;
	font-size: 14px !important;
}

.woocommerce-message a.button.wc-forward {
	background: #f3f2ef;
	font-family: 'Raleway';
	font-size: 14px;
}

.et-pb-active-slide .et_pb_slide_description {
	animation-name: fadeIn;
}


/* affirm */
#learn-more {
	margin-top: 50px;
	font-family: 'Raleway';
	font-size: 14px;
	text-transform: uppercase;
}

.payment_method_affirm label img {
	width: 6%;
	display: flex;
}

tbody tr td #learn-more {
	display: flex;
	justify-content: center;
	padding-right: 5%;
}

.blackDesk {
	color: #5d5757 !important;
}

/* view cart hover */ 
.woocommerce-message a.button.wc-forward:hover {
	background-color: #f3f2ef;
}

/* coupon */
.couponCode {
	position: relative;
	right: 25%; 
	top: 27px;
}
/* top menu */
#top-menu, .fullwidth-menu, nav#top-menu-nav, nav.fullwidth-menu-nav {
    display:block!important;
  }
  #et_mobile_nav_menu, .et_mobile_nav_menu { 
    display: none!important;
  }

/* loading processing */
.processing .blockOverlay {
	background-color: #f3f2ef !important;
	opacity: 1 !important;
}

.wc-proceed-to-checkout a {
	color: #fff !important;
	background-color: #33342a !important;
	}

.archive #page-container #et-main-area div #myBtn {
	margin-left: 18%;
}

.wMember::after {
	content: ' \00a0 MEMBER';
}

.ds-hide {
	display: none;
}

.search .widgettitle {
	display:none;
}
.et_pb_contact_field .et_pb_contact_field_1 .input {
	background-color: inherit !important;
}

.et_pb_contact_form .et_pb_contact_field_1 {
	background-color: inherit !important;
}

dl.variation {
	display: none;
}

/* account and register policy*/
.woocommerce-account .widgettitle, .woocommerce-account #sidebar, .register .woocommerce-privacy-policy-text {
	display: none;
}

/* woocommerce account orders */
.woocommerce-page a.button {
	font-size: 14px;
}
.et_button_no_icon.woocommerce-page a.button:hover {
	padding: 0;
	border: 0;
	line-height: 2.25em !important;
	background: inherit;
	font-size: 13px;
}

/* login form register */
.likePerks {
	padding-bottom: 2%;
	font-family: 'Raleway';
}
.perks {
	font-family: 'Acaslon';
	margin-left: 5%;
}

/* Account forms */
.post-4893 .form-row-wide {
	margin-bottom: 5px !important;
}

.woocommerce form.register, .woocommerce form.login {
	border: 0 !important;
	padding: 0 !important;
}

.post-4893 h3 {
	font-family: 'Acaslon';
	color: #666;
}

.post-4983 h2 {
	font-family: 'Raleway';
}

.accForm {
	font-family: 'Raleway';
	font-size: 12px !important;
	padding: 8px !important;
}

.post-4893 .login-1 {
	margin-top: 8%;
}

.post-4893 .entry-title {
	margin-top: 0%;
	position: absolute;
	font-size: 22px;
	font-family: 'Acaslon';
	color: #666;
}

.post-4893 .entry-title::after {
	content: '.';
}

.page-id-4893 #left-area {
	padding-bottom: 33%;
}

.woocommerce-form-login {
	margin-top: 10px !important;
}

input[type=password] {
	border: 0;
}

.et-search-form input {
	text-transform: uppercase;
}

.woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content{
	margin-top: 50px;
}

.woocommerce-FormRow .button {
	width: 80px;
}

.fontAcas {
	font-family: 'Acaslon';
}

/* search */
#post-2604 h2 {
	font-family: 'Raleway';
}

/* 320 to 374 */
@media only screen and (min-width: 320px) and (max-width: 374px) {
	.widgettitle {
		margin-right: 5px;
	}
	.varLabel {
		max-width: 280px;
	}
	.sustainBTT {
		padding: 0;
	}
	/*hamburger*/
	#menu-item-42 a {
		left: 25px;
	}
	/* search padding */
	#top-menu li.mega-menu>ul>li:nth-of-type(4n+1) {
		padding-bottom: 8px !important;
	}
	
	/* cart */
	.wpmenucart-contents {
		right: 14px;
	}
	/* front menu */
	.sub-menu {
	 	width: 142% !important;	
	}
	/* product summary */
	.woocommerce-product-details__short-description {
		width: 100%;
	}
	/* FAQ */
	.et_pb_toggle_open, .et_pb_toggle_close {
		padding: 10px;
	}
	.faqPoints div div div {
		max-width: 100% !important;
	}
	/* cart */
	#coupon_code {
		width: 51%;
	}
	.apply_coupon {
		width: 53%;
	}
	.checkout-button {
		width: 100%;
	}
	/* view cart button */
	.woocommerce-page a.button {
		width: 100% !important;
	}
	/* proceed to checkout button */
	.woocommerce-page a.button, .woocommerce-page a.button.alt {
		width: 100% !important;
	}
	/* collection images */
	.et_pb_row_4.et_pb_row {
		padding-right: 0;
	}
	.cat-parent {
		padding-left: 0;
	}
	.et_pb_toggle_open {
		padding: 15px;
	}
	/* contact */
	.et_pb_contact_form_1 .input {
		background-color: #f3f2ef;
	}
	.et_pb_contact_form_1.et_pb_contact_form_container .input {
		color: #595959 !important;
	}
	.et_pb_contact_field_0 {
		background-color: #f3f2ef;
	}
	.et_pb_contact_submit {
	left: 25%;
	}
}
/* End 320 to 374 */
/* 375 to 461 */
@media only screen and (min-width: 375px) and (max-width: 461px) {
	/*hamburger*/
	#menu-item-42 a {
		left: 28px;
	}
		/* search padding */
	#top-menu li.mega-menu>ul>li:nth-of-type(4n+1) {
		padding-bottom: 8px !important;
	}
	
	/* cart */
	.wpmenucart-contents {
		right: 19px;
	}
	/* front menu */
	.sub-menu {
	 	width: 142% !important;	
	}

	.woocommerce-product-gallery__trigger {
		bottom: 26.5% !important;
	}
	
	.woocommerce-product-details__short-description {
		width: 100%;
	}
	.collectionTD {
		width: 100% !important;
	}
	/* collection images */
	.et_pb_row_4.et_pb_row {
		padding-right: 0;
	}
	/* faq */
	.faqPoints div div div {
		max-width: 100% !important;
	}
	.et_pb_toggle_close, .et_pb_toggle_open {
		padding: 10px;
	}
	.product-categories {
		width: 123%;
	}
	.cat-parent {
		padding-left: 0;
	}
	/* toggle */
	.et_pb_toggle_open {
		padding: 15px;
	}
	
	/* contact */
	.et_pb_contact_form_1 .input {
		background-color: #f3f2ef !important;
	}
	.et_pb_contact_form_1.et_pb_contact_form_container .input {
		color: #595959 !important;
	}
	.et_pb_contact_field_0 {
		background-color: #f3f2ef !important;
	}
	/* view cart button */
	.woocommerce-page a.button {
		width: 100% !important;
	}
	.et_pb_contact_submit {
		left: 25%;
	}
}
/* End 375 to 461 */

@media only screen and (max-width: 500px) {
	
	.ds-hide {
		display: block;
	}
	
	#main-header {
		margin-top:	20px;
	}
	.wpmenucart-contents {
		display: block !important;
	}
	
	.sub-menu {
		padding-top: 30px !important;
		right: -12.2% !important;
		width: 125%;
		background-color: #f3f2ef !important;
	}
	
	#top-menu a {
		display: flex;
		justify-content: center;
	}
	
	#top-menu .mega-menu>a {
		padding-bottom: 0 !important;
	}
	
	#logo {
		max-height: 96%;
	}
	/* search padding */
	#top-menu li.mega-menu>ul>li:nth-of-type(4n+1) {
		padding-bottom: 8px !important;
	}
	
	.wpmenucartli {
		position: absolute !important;
		right: 81%;
		bottom: 0%;
	}
	
	#mobile_menu {
		left:-12%;
		width: 125%;
	}
	
	/* coupon */
	#coupon_code {
		width: 140px;
		float: right;
	}
	.actions {
		background-color: #f3f2ef !important;
	}
	
	.updateCart {
		margin-bottom: 10px !important;
	}
	.couponCode {
		right: 52%;
	}
	.shop_table .coupon {
		margin-bottom: 0 !important;
	}
	
	/* search icon*/
	#et_top_search {
		display: none;
	}
	
	.et_divi_100_custom_hamburger_menu .mobile_menu_bar {
		margin-bottom: 3px;
		margin-top: 20px;
	}
	
	/* hamburger menu */
	
	.et_mobile_menu .menu-item-has-children>a {
		background-color: #f3f2ef;
	}
	
	.wpmenucart-display-left {
		float: inherit !important;
	}
	
	/* social media icons*/
	.et_pb_social_media_follow li a.icon::before {
		width: 30px;
		font-size: 15px;
		line-height: 32px;
	}
	.et_pb_social_media_follow li a.icon {
		width: 30px;
		height: 30px;
	}
	
	.et-pb-arrow-next:before,.et-pb-arrow-prev:before {
		display: none;
	}
	/* toggle body link */
	.et_pb_toggle_content p a {
		color: inherit;
	}
	/* toggle title center*/
	.fTogM .et_pb_toggle_title {
		padding-left: 9% !important;
	}
	/* raleyway medium*/
	.MRale {
		font-weight: 400 !important;
	}
	/* widget title refine */
	.widgettitle {
		margin-top: 20px;
		margin-right: 5px;
	}
	.et_pb_module #woocommerce_product_categories2-3 .product-categories {
		top: 80% !important;
	}
	/* product categories*/
	.product-categories {
		display: none;
		flex-direction: column;
	}
	
	/* mobile menu */
	.et_mobile_menu {
		border: 0;
		left: 8%;
		width: 83%;
	}
	.mega-menu {
		text-align: center;
	}
	.et_mobile_menu li li {
		padding-left: 0;
	}
	.et_mobile_menu li a {
		border-bottom: 1px solid #f9f9f9;
		padding: 8px;
		text-transform: uppercase;
		color: #33342a;
		font-size: 16px;
	}
	.et_pb_toggle h5::before {
		content: "\f107 \00a0 \00a0";
		color: #777;
	}
	
	/* shop images */
	.woocommerce ul.products[class*=columns-] li.product {
		width: 100%;
	}
	
	/* collection page*/
	.collectionImages .et_pb_image_wrap img {
		left: -6% !important;
		max-width: 109%;
	}
	.et_pb_row_4col {
		display:block;
	}
	.et_pb_row_4col>.et_pb_column.et_pb_column_1_4 {
		width: 47% !important;
		margin-right: 5%;
	}
	/*footer title*/
	.fTogMc h5 {
		margin-left: 10px;
	}
	/* front slide*/
	.et_pb_row.et_pb_row_fullwidth {
		width: 100% !important;
	}
	
	.cat-item a {
		display: flex;
		justify-content: center;
	}
	
	/* single product */
	.woocommerce-product-gallery__trigger {
		bottom: 28.5%;	
	}
	.woocommerce div.product form.cart .variations {
		margin: 0;
		margin-top: 20px;
	}
	.semiDesc {
	font-family: 'Acaslon', Palatino;
	}
	/* cart image */
	.woocommerce-cart table.cart img {
		width: 150px;
	}
	
	/* go back button archive */
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 10% !important;
	}
	
	/* archive products margin*/
	.archive #page-container #et-main-area ul.products {
		padding-left: 9%;
		width: 92%;
	}
	/* refine area archive*/
	#main-content .container {
		padding-top: 25px !important;
	}
	
	.product-categories {
	width: 125%;
	left: -12%;
	}
	
	/* shop column */
	.et_pb_column_1 {
		padding-left: 0 !important;
	}
	
	li.wpmenucartli a.wpmenucart-contents span{
	padding-left: 0.5px;
	}
	#menu-item-347 a {
		border-top: 2px solid #fff !important;
	}
	#menu-item-347 a, #menu-item-566 a, #menu-item-1747 a, #menu-item-2582 a {
		border-bottom: 2px solid #fff !important;
	}
	#top-menu li.mega-menu>ul>li>a:first-child {
		padding-top: 10px !important;
	}
	#top-menu li.mega-menu>ul {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.et_pb_column {
		margin-bottom: 20px !important;
	}
	/* quantity box */
	.woocommerce .quantity input.qty {
		font-size: 14px !important;
		height: 22px;
		padding-bottom: 8px;
	}
	/* pink bg */
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background-color: #f3f2ef;
	}
	/* cart total */
	.cart-subtotal td span.woocommerce-Price-amount, .order-total td span.woocommerce-Price-amount {
		padding-right: 0;
	}
	/* affirm */
	tbody tr td #learn-more {
		display: flex;
		justify-content: flex-end;
	}
	/* checkout button*/
	.woocommerce-page a.button, .woocommerce-page a.button.alt {
		width: 75%;
	}

	.dimensionsPDF, .deliveryPDF {
		padding: 10px 0;
	}
	
	.blackDesk {
		color: #727272 !important;
	}
	
	.et-search-form input {
		right:49px;
		font-family: 'Acaslon', Palatino;
		padding-bottom: 10px;
	}
	/* faq page */
	.et_pb_toggle_close {
		padding: 15px !important;
		margin-bottom: 0 !important;
	}
	.faqPointsChild {
		padding: 5px !important;
	}
	.post-4893 .entry-title {
		position: relative;
	}
	
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
	#logo {
		max-height: 65%;
		margin-bottom: 5%;
	}
}

@media only screen and (min-width: 462px) and (max-width: 767px) {
	#top-menu li.show-submenu ul.sub-menu {
		padding-top: 15px;
		width: auto;
	}
	#top-menu li {
		padding-right: 10px !important;
	}
	.wpmenucart-contents {
		right: 20px;	
	}
	/* collection padding*/
	.sustainPar {
		padding-top: 20px !important;	
	}
	.colRow4 {
		padding-right: 0 !important;
	}
	/* faq */
	.faqPoints div div div {
		max-width: 100% !important;
	}
	.et_pb_toggle_close, .et_pb_toggle_open {
		padding: 10px;
	}
	.couponCode {
		right: 42%;
	}
	#top-menu li.show-submenu ul.sub-menu {
		width: 462px;
	}
	.woocommerce ul.products li.product a img {
		height: 100%;
	}
	.wpmenucart-contents {
		right: -6px;
		bottom: 1px;
	}
	#et_top_search {
		margin-right: 5px;
		bottom: 6px;
	}
	.product-categories {
		width: 91%;
	}
	.et_pb_module #woocommerce_product_categories2-3 .product-categories {
		top: 60% !important;
	}
	
	.archive #page-container #et-main-area ul.products {
		padding-left: 10%;
		width: 90%;
	}
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 10% !important;
	}
	.woocommerce-cart table.cart img {
		width: 100px;
	}
	/* pink bg */
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background-color: #f3f2ef;
	}
	.couponCode {
		right: 67%;
	}
	.shop_table .coupon {
		margin-bottom: 0 !important;
	}
	.woocommerce button.button {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.checkout-button {
		width: 60%;
	}
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 980px) {
	#top-menu li {
		padding-right: 0;
	}
	#logo {
		max-height: 66%;
		bottom: 23%;
	}
	/* header search*/
	#et_search_icon:before {
		top: 0;
	}
	
	#et_top_search {
		margin-top:0px;
	}
	
	/* hamburger */
	#top-menu li.mega-menu>ul {
		width: 34%;
	}
	
	/* footer */
	.s-company,  .s-products, .s-cc {
		width: 19.25%;
		margin-right: 2% !important;
		margin-left: 2% !important;
	}
	.footer-global .footer-tab {
		width: 90% !important;
	}
	
	.footer-tab {
		margin: 0 !important;
	}
	
	.et_pb_row_5col>.et_pb_column.et_pb_column_1_5 {
		width: 20.25%;
	}
	.et_pb_row_5col>.et_pb_column.et_pb_column_1_5:nth-child(2) {
		margin-right: 30px;
	}
	.s-social {
		margin-bottom: 0;
		width: 20%;
	}
	.s-gitl {
		width: 26.25% !important;	
	}
	.footer-tab {
		display: block;
	}
	
	.gitl {
		max-width: 87% !important;
	}
	
	#et_pb_contact_footer-email_1 {
		width: 150%;
	}
	/* materials */
	.et_pb_row_4col {
		display: block;
	}
	/* shop */
	.et_pb_module #woocommerce_product_categories2-3 .product-categories {
		top: 50% !important;
	}
	.product-categories {
		width: 90.5%;
	}
	
	/* archive */
	.archive #page-container #et-main-area ul.products {
		width: 100% !important;
	}
	
	/* product page */
	.woocommerce-product-gallery__trigger {
		bottom: 23.5%;
	}
	
	/* cart image */
	.woocommerce-cart table.cart img {
		width: 175px;
	}
	
	.wc-proceed-to-checkout a {
		width: 233px;
	}
	
	/* pink bg */
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background-color: #f3f2ef;
	}
	.couponCode {
		right: 43%;
		top: 24px;
	}
	.shop_table .coupon{
		margin-bottom: 0 !important;
	}
	.updateCart {
		margin-bottom: 10px !important;
	}
	
	.woocommerce-page ul.products li.product:nth-child(n) {
		width: 42% !important;
	}
	.archive #page-container #et-main-area ul.products {
		padding-left: 12%;
		width: 92%;
	}
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 12% !important;
	}

	.collectionTD {
		width: 38.7% !important;
		padding-top: 0% !important;
	}
	
	.pPeopleHigh .et_pb_column_3_5 {
		width: 82%;
	}
	
	.dontComeApart .et_pb_column {
		width: 100%;
	}
	.s-gitl {
		padding-top: 30px;
	}
	
	#top-menu li.show-submenu ul.sub-menu {
		padding-top: 15px;
		width: auto;
	}
	.et_pb_contact_submit {
	left: 10%;
	}
}

/* ipad */
@media only screen and (min-width: 981px) and (max-width: 1024px) {
	#logo {
	max-height: 62%;
	bottom: 25%;
	}
	/* header search*/
	#et_search_icon:before {
		top: 0;
	}
	
	#et_top_search {
		margin-top:0px;
	}
	
	/* hamburger */
	#top-menu li.mega-menu>ul {
		width: 34%;
	}
	
	/* footer */
	.footer-tab {
		padding: 2% 1% 2% 9% !important;
	}
	
	.et_pb_row_5col>.et_pb_column.et_pb_column_1_5 {
		width: 20.25%;
	}
	.et_pb_row_5col>.et_pb_column.et_pb_column_1_5:nth-child(2) {
		margin-right: 30px;
	}
	.s-social {
		margin-bottom: 0;
		width: 20%;
	}
	.s-gitl {
		width: 35% !important;	
	}
	.footer-tab {
		display: block;
	}
	/* materials */
	.et_pb_row_4col {
		display: block;
	}
	/* shop */
	.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
		height: 100%;
	}
	.et_pb_widget_area_left {
		padding-right: 10px !important;
	}
	
	/* archive */
	.archive #page-container #et-main-area ul.products {
		width: 100% !important;
	}
	
	/* product page */
	.woocommerce-product-gallery__trigger {
		bottom: 27.5%;
	}
	
	/* cart image */
	.woocommerce-cart table.cart img {
		width: 175px;
	}
	
	.wc-proceed-to-checkout a {
		width: 233px;
	}
	
	/* pink bg */
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background-color: #f3f2ef;
	}
	.couponCode {
		right: 43%;
		top: 24px;
	}
	.shop_table .coupon{
		margin-bottom: 0 !important;
	}
	.updateCart {
		margin-bottom: 10px;
	}
	
	.woocommerce-page ul.products li.product:nth-child(n) {
		width: 42% !important;
	}
	.archive #page-container #et-main-area ul.products {
		padding-left: 12%;
		width: 92%;
	}
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 16% !important;
	}

	.collectionTD {
		width: 38.7% !important;
		padding-top: 0% !important;
	}
	
	.pPeopleHigh .et_pb_column_3_5 {
		width: 82%;
	}
	
	.dontComeApart .et_pb_column {
		width: 100%;
	}
	.s-gitl {
		padding-top: 30px;
	}
	
	#top-menu li.show-submenu ul.sub-menu {
		padding-top: 15px;
		width: auto;
	}
	
	.product-categories {
		width: 89.5%;
	}
	
	.gbbutton {
		margin-left: -40px;
	}
	.collectionGbbRow {
		padding-left: 11.5% !important; 
		padding-bottom: 3% !important;
	}
	.et_pb_contact_submit {
	right: 120%;
}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	.about-row-1 {
	max-width: 88%;
	width: 88%;
	}
	#top-menu li.show-submenu ul.sub-menu {
		padding-top: 15px;
		width: auto;
	}
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 18% !important;
	}

	.woocommerce-product-gallery__trigger {
		bottom: 25%;
	}
	.collectionGbbRow {
		padding-left: 8% !important;
		padding-bottom: 3% !important;
	}
	
	/* refine */
	.et_pb_widget_area_left {
		padding-right: 20px !important;
	}
	.et_header_style_left .logo_container {
		height: 36%;
	}
	
	#logo {
		max-height: 100%;
	}
	.et_pb_contact_submit {
		right: 140%;
	}
}

@media only screen and (min-width: 1441px) {
	#logo {
		max-height: 70%;
		bottom: 15%;
	}
	.woocommerce-cart table.cart img {
		width: 100px;
	}
	/* go back button archive */
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 24.5% !important;
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
/* slider row */
	.frontSliderRow {
		width: 36% !important;
	}
	.et_pb_contact_submit {
	right: 150%;
	}
}

@media only screen and (min-width: 1501px) and (max-width: 1799px) {
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 18.5% !important;
	}
	.et_pb_contact_submit {
	right: 190%;
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1799px) {
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 18.5% !important;
	}
	.et_pb_contact_submit {
	right: 150%;
	}
}

/* media 1800 - 2000*/
@media only screen and (min-width: 1800px) and (max-width: 2000px) {
	.et_shop_image {
	text-align: -webkit-center;
	}	
	.archive #page-container #et-main-area ul.products {
		padding-left: 23%;
		width: 100%;
		padding-right: 3%;
	}
	.about-row-1 {
	max-width: 92% !important;
	padding-left: 8% !important;
	}
}

@media only screen and (min-width: 2001px) and (max-width: 2300px) {
	.et_shop_image {
	text-align: -webkit-center;
	}	
	.archive #page-container #et-main-area ul.products {
		padding-left: 22%;
		width: 100%;
		padding-right: 4%;
	}
}

@media only screen and (min-width: 2301px) and (max-width: 2600px) {
	#top-menu li.show-submenu ul.sub-menu {
		padding-top: 15px;
	}
	.et_shop_image {
	text-align: -webkit-center;
	}	
	.archive #page-container #et-main-area ul.products {
		padding-left: 28%;
		width: 100%;
		padding-right: 12%;
	}
	.collectionGbbRow {
		padding-bottom: 2%;
		margin-left: 22%;
	}
	.freeSwatchForm {
		margin-left: 18.5% !important;
		width: 58% !important;
	}
	.archive #page-container #et-main-area div #myBtn {
		margin-left: 29% !important;
	}
}

@media only screen and (min-width: 2601px) and (max-width: 3600px) {
	.et_shop_image {
	text-align: -webkit-center;
	}	
	.archive #page-container #et-main-area ul.products {
		padding-left: 33%;
		width: 100%;
		padding-right: 19%;
	}
}